.contact-section{
background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.contact-container{
 margin-bottom:1rem;
 margin-top: 3rem;
 max-width: 1200px;
 margin-left: auto;
 margin-right: auto;
 padding: 1rem;
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 2rem;
 align-items: center;
}

.contact-image{
max-width: 100%;
height: auto;
display: block;
margin: 0 auto 0;
animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@media (max-width: 500px) {
  .contact-image {
    max-width: 90%;
  }
}


.contact-content{
  margin-bottom:1rem;
  text-align: left;
}

.content-title{
    margin-bottom: 1.25rem;
    background:linear-gradient(45deg, #06b6d4, #a855f7, #ec4899);
    font-size: 2.25rem;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeInUp 1s ease-out;
}

.content-description{
    margin-bottom: 1rem;
    font-size: 1.15rem;
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#b6c8e4;
}

.contact-details{
    margin-top: 2rem;
    margin-bottom: 1rem;
  text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    color:rgba(26, 115, 199, 0.829);
}

.contact-details:hover{
     color: #1e90ff;
     text-shadow: 0 0 10px rgba(30, 144, 255, 0.7);
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.contact-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f0f0;
  font-size: 1rem;
  list-style: none;
  text-align: center;
}

.contact-icons .icon {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #00a2ff; 
}

@media (max-width: 480px) {
  .content-title {
    font-size: 1.5rem;
  }

  .content-description {
    font-size: 1rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

   .contact-icons {
    gap: 1.5rem;
  }

  .contact-icons .icon {
    font-size: 1.5rem;
  }

  .contact-icons li {
    font-size: 0.9rem;
  }
}
